### BACKEND ###
DATABASE_URL=

BETTER_AUTH_SECRET=
BETTER_AUTH_URL=http://localhost:3001

WEB_URL=http://localhost:3000

CRON_SECRET=

### FRONTEND ###
NEXT_PUBLIC_API_URL=http://localhost:3001
NEXT_PUBLIC_APP_URL=http://localhost:3000

