# -----------------------------------------------------------------------------
# Database Configuration
# -----------------------------------------------------------------------------
# The connection string for your Postgres database (e.g. Neon, Supabase, local)
DATABASE_URL="postgresql://user:password@localhost:5432/tsuki"

# -----------------------------------------------------------------------------
# Authentication (Better Auth)
# -----------------------------------------------------------------------------
# A random string used to hash tokens, sign cookies and encrypt sessions.
# Generate one using: openssl rand -base64 32
BETTER_AUTH_SECRET=

# The URL where your Better Auth backend API is running (used internally by Better Auth)

# -----------------------------------------------------------------------------
# Next.js Frontend Configuration
# -----------------------------------------------------------------------------
# The public URL of the Next.js frontend (used by Next.js & Better Auth for redirects)
NEXT_PUBLIC_APP_URL=http://localhost:3000

# The public URL of the Elysia API (used by the frontend to make requests)
NEXT_PUBLIC_API_URL=http://localhost:3001

# -----------------------------------------------------------------------------
# Elysia Backend Configuration
# -----------------------------------------------------------------------------
# The URL of the frontend (used by Elysia for CORS trusted origins)

